DB_USER=paltacheck
DB_PASSWORD=paltacheck123
DB_NAME=paltacheck_db
DATABASE_URL=postgresql://paltacheck:paltacheck123@timescaledb:5432/paltacheck_db
VITE_API_URL=http://localhost:8000
PGADMIN_EMAIL=admin@paltacheck.com
PGADMIN_PASSWORD=admin123
